.container {
  width: 390rem;
  padding: 10rem;
  font-size: 12rem;
  background:#F4F6EF ;
  .card {
	margin-block:6rem 8rem;;
    display: flex;
    gap: 20rem;
    padding: 12rem 14rem;
    border: solid .5rem #F4F6EF30;
	box-shadow:1rem 2rem 1rem .5rem #2B292A30; 
    border-radius: 5rem;
    align-items: center;
	background: linear-gradient(306deg, #74C01E  0%, rgba(210,227,178,1) 60%);
	justify-content: space-around;
    img {
      width: 24rem;
      height: 24rem;
    }
	.info{
		width: 60%;
		display: flex;
		align-items: center;
		gap:20rem;
	}
    .details {
      display: flex;
      flex-direction: column;
	  color:#2B292A;
	  gap:6rem;
	  h1{
		font-size:large;
		font-weight: 600;
		width: fit-content;
		border-bottom:#74C01E 1rem solid;
	  }
	  span{
		// line-height:8rem;
		font-size:10rem;
		color:#3b393a;
		font-weight: 300;
	  }
    }

	.actions{
		display:flex;
		gap:4rem;
		button:last-child{
			background:#2B292A;
			color:#fff;
		}
	}
  }
  button{
	padding:4rem 8rem;;
	border-radius:4rem;
	color:#F4F6EF;

	border:#D2E3B2 1rem solid;
	background:#74C01E;
  }
}
