.container {
  width: 390rem;
  padding: 10rem;
  font-size: 12rem;
  .card {
    display: flex;
    gap: 6rem;
    padding: 2rem 10rem;
    border: solid 1rem gray;
    border-radius: 5rem;
    align-items: center;

    img {
      width: 24rem;
      height: 24rem;
    }
    .details {
      display: flex;
      flex-direction: column;
    }
  }
}
